* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,body {
  width: 100%;
  height: 100%;

}

main {
  width: 100%;
  height: 100%;
  background-color: black;
  gap: 10px;
  padding:10px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas: "aside section section section"
                      "aside div1 div2 div3"
  
  ;

  aside {
    grid-area: aside;
    background-image: url(https://images.unsplash.com/photo-1759845565036-cbecbcfcb8e2?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0OHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=60&w=500);
    @include background;
  }
  section {
    grid-area: section;
    background-image: url(https://images.unsplash.com/photo-1760340641889-7d215d84bda3?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzOXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=60&w=500);
    @include background;
  }

  .div1 {
    grid-area: div1;
    background-image: url(https://images.unsplash.com/photo-1759800805660-8bc4595568ec?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzNHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=60&w=500);
    @include background;
  }

  .div2 {
    grid-area: div2;
    background-image: url(https://images.unsplash.com/photo-1760293630917-2e4bef6e97f3?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=60&w=500);
    @include background;
}

  .div3 {
    grid-area: div3;
    background-image: url(https://images.unsplash.com/photo-1760312379880-1a5623c5f835?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzMXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=60&w=500);
    @include background;

}


  
}