/* const firebaseConfig = {
  apiKey: "AIzaSyBkQMK4LJB7ihMID78Y1_30lTznWipo5pM",
  authDomain: "tournament-782eb.firebaseapp.com",
  projectId: "tournament-782eb",
  storageBucket: "tournament-782eb.firebasestorage.app",
  messagingSenderId: "772603896264",
  appId: "1:772603896264:web:f400e841526c2ba961a0fd",
  measurementId: "G-2BKN0M5ZHX"
}; */